<%- include('../header.ejs') %>
    <h1>Closet</h1>

    <!-- multiple categories  go here -->
    <% const categories = ['top', 'bottom', 'dual', 'head', 'footwear', 'accessory', 'handwear'] %>

    <% for (let i=0; i<categories.length; i++) { %>
    <h1><%= categories[i] %>s</h1>
    <div id="<%= categories[i] %>" class="scroller card-deck">
      <div class="card garment new">
        <a class="btn btn-success new-garment">New <%= categories[i] %></a>
      </div>
    </div>
    <% } %>

    <script src="/js/closet.js"></script>
<%- include('../footer.ejs') %>
